.imageHover {
  margin: auto;
  width: -moz-fit-content;
  height: -moz-fit-content;
  width: -webkit-fit-content;
  height: -webkit-fit-content;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

  .imageHover img {
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }

  .imageHover:hover img {
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

.imageDetail {
  width: 100%;
  height:100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
  -webkit-transform: scale(0.7) ;
  -ms-transform: scale(0.7) translateY(25%);
  transform: scale(0.7) translateY(25%);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

  /*.imageDetail .imageTitle {
    margin:20px 15px 40px 15px;
  }

imageDetail .imageProject {
  margin: 20px 15px 40px 15px;
}*/

.imageHover:hover .imageDetail {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1) translateY(25%);
  -ms-transform: scale(1) translateY(25%);
  transform: scale(1) translateY(25%);
}


.image-large-btn {
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.3em;
  color: white;
  border-radius: 0;
  padding: 10px 30px 12px;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgba(0,0,128,0.8), rgba(102,102,255,0.8), rgba(255,0,255,0), rgba(204,102,153,0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
  border: 2px solid white;
}

  .image-large-btn:hover {
    color: #fff;
    border: 1px solid rgba(223,190,106,0);
    color: white;
    background-position: 99% 50%;
    cursor: pointer;
  }


