<my-jumbotron title="Please watch this video" subTitle="Welcome to my website" [showButton]="true" buttonTxt="Watch video" videoSrc="../assets/videos/coding/coding1.mp4"></my-jumbotron>
<section>
  <div class="contact-page">
    <h1 class="text-center">
      Contact
    </h1>
    <div>
      <p>Email: fdsafdasfaf@gmail.com</p>
      <p>Alternative Email: fdsafdasfaf@gmail.com</p>
      <p>615-456-456</p>
      <p>fdsafdasfaf@gmail.com</p>
    </div>
  </div>
</section>
<image-background-section width="100%" height="400px" imageSrc ="assets/images/coding/coding1.jpeg"></image-background-section>

