<my-jumbotron title="Please watch this video" subTitle="Welcome to my website" [showButton]="true" buttonTxt="Watch video" imageSrc="../assets/images/coding/coding1.jpeg"></my-jumbotron>
<section class="resume-section ">
  <div class="m-auto">
    <div class="row mb-5">
      <div class="col-md-4">
        <h1>Technology</h1>
      </div>
      <div class="col-md-8 row">

        <div class="col-md-6">
          <h6>Expert</h6>
          <ul>
            <li>Language</li>
            <li>Language</li>
            <li>Language</li>
            <li>Language</li>
            <li>Language</li>
            <li>Language</li>
            <li>Language</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h6>Experenced</h6>
          <ul>
            <li>Language</li>
            <li>Language</li>
            <li>Language</li>
            <li>Language</li>
            <li>Language</li>
            <li>Language</li>
            <li>Language</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-4">
        <h1>Work Expereince</h1>
      </div>
      <div class="col-md-8 row">
        <div class="col-md-12">
          <p><strong>Role</strong></p>
          <p><em>Date from 11111 to 11111</em></p>
          <p>To be, or not to be: that is the question: whether 'tis nobler in the mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and by opposing end them? To die: to sleep; no more; and, by a sleep to say we end the heart-ache and the thousand natural shocks that flesh is heir to, 'tis a consummation devoutly to be wish'd. To die, to sleep; to sleep: perchance to dream: ay, there's the rub; for in that sleep of death what dreams may come when we have shuffled off this mortal coil, must give us pause. There's the respect that makes calamity of so long a life; for who would bear </p>
        </div>
        <div class="col-md-12">
          <p><strong>Role</strong></p>
          <p><em>Date from 11111 to 11111</em></p>
          <p>To be, or not to be: that is the question: whether 'tis nobler in the mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and by opposing end them? To die: to sleep; no more; and, by a sleep to say we end the heart-ache and the thousand natural shocks that flesh is heir to, 'tis a consummation devoutly to be wish'd. To die, to sleep; to sleep: perchance to dream: ay, there's the rub; for in that sleep of death what dreams may come when we have shuffled off this mortal coil, must give us pause. There's the respect that makes calamity of so long a life; for who would bear </p>
        </div>
        <div class="col-md-12">
          <p><strong>Role</strong></p>
          <p><em>Date from 11111 to 11111</em></p>
          <p>To be, or not to be: that is the question: whether 'tis nobler in the mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and by opposing end them? To die: to sleep; no more; and, by a sleep to say we end the heart-ache and the thousand natural shocks that flesh is heir to, 'tis a consummation devoutly to be wish'd. To die, to sleep; to sleep: perchance to dream: ay, there's the rub; for in that sleep of death what dreams may come when we have shuffled off this mortal coil, must give us pause. There's the respect that makes calamity of so long a life; for who would bear </p>
        </div>
        <div class="col-md-12">
          <p><strong>Role</strong></p>
          <p><em>Date from 11111 to 11111</em></p>
          <p>To be, or not to be: that is the question: whether 'tis nobler in the mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and by opposing end them? To die: to sleep; no more; and, by a sleep to say we end the heart-ache and the thousand natural shocks that flesh is heir to, 'tis a consummation devoutly to be wish'd. To die, to sleep; to sleep: perchance to dream: ay, there's the rub; for in that sleep of death what dreams may come when we have shuffled off this mortal coil, must give us pause. There's the respect that makes calamity of so long a life; for who would bear </p>
        </div>
        <div class="col-md-12">
          <p><strong>Role</strong></p>
          <p><em>Date from 11111 to 11111</em></p>
          <p>To be, or not to be: that is the question: whether 'tis nobler in the mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and by opposing end them? To die: to sleep; no more; and, by a sleep to say we end the heart-ache and the thousand natural shocks that flesh is heir to, 'tis a consummation devoutly to be wish'd. To die, to sleep; to sleep: perchance to dream: ay, there's the rub; for in that sleep of death what dreams may come when we have shuffled off this mortal coil, must give us pause. There's the respect that makes calamity of so long a life; for who would bear </p>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-4">
        <h1>School</h1>
      </div>
      <div class="col-md-8 row">
        <div class="col-md-12">
          <p><strong>school</strong></p>
          <p>Time</p>
        </div>
        <div class="col-md-12">
          <p><strong>school</strong></p>
          <p>Time</p>
        </div>
        <div class="col-md-12">
          <p><strong>school</strong></p>
          <p>Time</p>
        </div>
      </div>
      
    </div>
  </div>
</section>
