<div>
  <my-jumbotron title="Please watch this video" subTitle="Welcome to my website" [showButton]="true" buttonTxt="Watch video" imageSrc ="../assets/images/coding/coding2.jpg"></my-jumbotron>
  <title-section [title]="title" [detail]="detail" backgroundColor="grey" [showButton]="false" ></title-section>
  <video-section title="Video Section" [detail]="sectionDetail" backgroundColor="grey" [showButton]="true" buttonTxt="Watch video" src="https://www.youtube.com/embed/yO1dJt50Bfg"></video-section>
  <detail-section title="Detail Section" [detail] ="sectionDetail"></detail-section>
  <carousel-section title="Detail Section" imageURLS ="[]" backgroundColor ="grey"></carousel-section>
</div>
